<h1>Attractions</h1>

<h2>variable</h2>

<h2> Our recommanded destination [{{l1}}] for adventure travellers. </h2>

<h2> Our recommanded destination [{{l2}}]for history lovers. </h2>

<h2> Our recommanded destination [{{l3}}] for city lovers. </h2>

<h2>Use Filter</h2>

<h2> Our recommanded destination [{{l1 | upper}}] for adventure travellers. </h2>

<h2> Our recommanded destination [{{l2 | lower}}] for history lovers. </h2>

<h2> Our recommanded destination [{{l3 | title}}] for city lovers. </h2>
